version: "3.9"

services:
  nextjs:
    build: .
    container_name: topsell_undian
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=topsell-undian
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: topsell-undian
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
